<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment = "headerBasic">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
</header>

<header th:fragment = "headerMainMenu">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Menu principal</h3><br>
    <nav>
        <a href="/maintenance" class="nav_link">Fichiers</a>
        <a href="/emprunt" class="nav_link">Emprunts</a>
    </nav>
</header>

<header th:fragment = "headerMaintenance">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Maintenance des fichiers</h3><br>
    <nav>
        <a href="/auteurmaintenance" class="nav_link">Auteurs</a>
        <a href="/livremaintenance" class="nav_link">Livres</a>
        <a href="/usagermaintenance" class="nav_link">Usagers</a>
        <a href="/bibliomenu" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerMaintAuteur">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Maintenance des auteurs</h3><br>
    <nav>
        <a href="/auteur" class="nav_link">Liste</a>
        <a href="/auteur/add" class="nav_link">Ajout</a>
        <a href="/maintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerListeAuteur">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Liste des auteurs</h3><br>
    <nav>
        <a href="/auteurmaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerAuteurById">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Fiche auteur</h3><br>
    <nav>
        <a href="/auteurmaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerAddAuteur">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Ajout d'un auteur</h3><br>
    <nav>
        <a href="/auteurmaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerUpdateAuteur">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Modification d'un auteur</h3><br>
    <nav>
        <a href="/auteurmaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerMaintLivre">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Maintenance des livres</h3><br>
    <nav>
        <a href="/livre" class="nav_link">Liste</a>
        <a href="/livre/add" class="nav_link">Ajout</a>
        <a href="/maintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerListeLivre">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Liste des livres</h3><br>
    <nav>
        <a href="/livremaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerAddLivre">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Ajout d'un livre</h3><br>
    <nav>
        <a href="/livremaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerUpdateLivre">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Modification d'un livre</h3><br>
    <nav>
        <a href="/livremaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerMaintUsager">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Maintenance des usagers</h3><br>
    <nav>
        <a href="/usager" class="nav_link">Liste</a>
        <a href="/usager/add" class="nav_link">Ajout</a>
        <a href="/maintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerListeUsager">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Liste des usagers</h3><br>
    <nav>
        <a href="/usager" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerAddUsager">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Ajout d'un usager</h3><br>
    <nav>
        <a href="/usagermaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerUpdateUsager">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Modification d'un usager</h3><br>
    <nav>
        <a href="/usagermaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerEmprunt">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Gestion des emprunts</h3><br>
    <nav>
        <a href="/emprunt/add" class="nav_link">Ajout</a>
        <a href="/emprunt/rentree" class="nav_link">Rentrée</a>
        <a href="/emprunt/encours" class="nav_link">Liste des emprunts en cours</a>
        <a href="/emprunt/enretard" class="nav_link">Liste des retards</a>
        <a href="/bibliomenu" class="nav_link">Retour</a>
    </nav>
</header>

<header th:fragment = "headerListeEmprunt">
    <h2>Gestion de la bibliothèque XYZ</h2><br>
    <h3>Liste des emprunts</h3><br>
    <nav>
        <a href="/empruntmaintenance" class="nav_link">Retour</a>
    </nav>
</header>

<footer th:fragment="footer">
<!--  <p>Au revoir</p>-->
</footer>
</html>
