<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="/"C:\Dev\TP3\biblio\src\main\resources\static\css\main.css"/main.css">
        <meta name="author" content="Ficart Jean-Marc">
		<title>Gestion de la bibliothèque</title>
	</head>
	<body>
        <header>
            <nav>
				<h2>Gestion de la bibliothèque</h2><br>
                <a href="displayAllAuteur.html" class="nav_link">Maintenance</a>
                <a href="404.html" class="nav_link">Gestion des emprunts</a>
                <a href="404.html" class="nav_link">404</a>
            </nav>
        </header>
	</body>
</html>
