<!DOCTYPE html>
<html lang="en" th:replace="~{/layout/layout :: layout(~{::content},_)}">
<th:block th:fragment="content">
    <a href="/>auteur">    </a>
    <button class=""btn btn-danger></button>
    <form action="#" th:action="@{/auteur/add}" th:object="${auteur}" method="post">
        <div class="mb-3">
            <label for="input-nomauteur" class="form-label">Nom auteur</label>
            <input type="text" id = "input-nomauteur" class="form-control" th:field="*{nomAuteur}">
            <p th:if="${#fields.hasErrors('nomAuteur')}" th:errors="*{nomAuteur}">Il y a des erreurs</p>
            <p th:unless="${#fields.hasErrors('nomAuteur')}">Il n'y a pas d'erreurs</p>
        </div>

        <div class="mb-3">
            <label for="input-nationaliteAuteur" class="form-label">Nationalité</label>
            <input type="text" id = "input-nationaliteAuteur" class="form-control" th:field="*{nationaliteAuteur}">
            <p th:if="${#fields.hasErrors('nationaliteAuteur')}" th:errors="*{nationaliteAuteur}">Il y a des erreurs</p>
        </div>

        <button type="submit" class="btn-btn-info">Envoyer</button>
    </form>
</th:block>

