<!DOCTYPE html>
<html lang="en" th:replace="~{/layout/layout :: layout(~{::content},_,'headerSelectAuteur')}">
<th:block th:fragment="content">
    <a href="/>auteur">    </a>
    <form action="#" th:action="@{/auteur/select}" th:object="${auteur}" method="get">
        <div class="mb-3">
            <label for="input-idauteur" class="form-label">Id </label>
            <input type="number" id = "input-idauteur" class="form-control" th:field="*{nomAuteur}">
            <p th:if="${#fields.hasErrors('idAuteur')}" th:errors="*{idAuteur}">Il y a des erreurs</p>
            <p th:unless="${#fields.hasErrors('idAuteur')}">Il n'y a pas d'erreurs</p>
        </div>

        <button type="submit" class="btn-btn-info">Sélectionner</button>
    </form>
</th:block>

