<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:replace="~{/layout/layout :: layout(~{::content},_,'headerListeAuteur')}" th:href="@{/css/main.css}">
<th:block th:fragment="content" th:with="list=${get_all}">
  <a th:href="@{/auteur}"></a>
  <ul>
    <li th:each="auteur : ${auteur_liste}" th:object="${auteur}">
      <p th:text="|Id          : *{idAuteur}|"></p>
      <p th:text="|Nom         : *{nomAuteur}|"></p>
      <p th:text="|Nationalité : *{nationaliteAuteur}|"></p>
      <p><a th:href="@{/auteur/{idAuteur}(idAuteur=*{idAuteur}, param1='param1')}">Update</a></p>
    </li>
  </ul>
</th:block>
</html>
